#/.gitignore
/dev/
/.idea/
/LUT_bin/*
#/LUT_bin/human_readable_LUT/
#/LUT_bin/spice_processed_char_out/
#/LUT_bin/spice_raw_char_out/
/simulation/Gate_level_sim_and_NN_archive/
/simulation/OOP_idea.txt
/simulation/OOP_test.py
/simulation/general_test.py

/simulation/output/*
*.pyc
