#/.gitignore
/dev/
/.idea/
#/LUT_bin/human_readable_LUT/
#/LUT_bin/spice_processed_char_out/
#/LUT_bin/spice_raw_char_out/
/simulation_csm/Gate_level_sim_and_NN_archive/
/simulation_csm/OOP_idea.txt
/simulation_csm/OOP_test.py
/simulation_csm/general_test.py

/simulation_csm/output/*
/simulation_spice/output/*
*.pyc
